* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div {
        width: 50vw;
        font-size: 20px;
        
        p {
            padding: 10px;
        }
    }

    ul {
        width: 50vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        
        li {
            padding: 18px;
            list-style: none;
        }
    }
}